.sidebar-nav h4 {
  margin-top: 2em;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 10px;
  color: #bbb;
}
.sidebar-nav ul {
  padding: 0;
  list-style: none;
  margin: 3px 0 0;
}
.sidebar-nav li {
  font-size: 15px;
}
.sidebar-nav ul li a {
  padding: 3px 0;
  display: block;
  color: #888;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.sidebar-nav ul li.active {
  color: #999;
  font-weight: bold;
}
