<div class="row">
  <div class="col-sm-3 sidebar-nav">
    <%= render "menu.html", conn: @conn, menu: @menu, current_page: @page, tag: @tag %>
  </div>
  <div  class="col-sm-9 docs-body">
    <h1><%= @page[:name] %></h1>
    <%= raw @content %>
  </div>
</div>
